In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import fastparquet as fp 
import ast
import numpy as np

In [2]:
from textblob import TextBlob

In [23]:
archivo="Data/australian_user_review.parquet"
user_reviews= pd.read_parquet(archivo)

In [3]:
user_reviews.head(2)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,sentiment_analisis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,2011-11-05,None,1250,No ratings yet,True,2
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,2011-07-15,None,22200,No ratings yet,True,2

In [107]:
user_reviews.columns

Index(['user_id', 'user_url', 'funny', 'posted', 'last_edited', 'item_id',
       'helpful', 'recommend', 'sentiment_analisis'],
      dtype='object')

In [24]:
archivo="Data/australian_user_items.parquet"
user_items= pd.read_parquet(archivo)

user_items.head(2)

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...

In [2]:
archivo="Data/steam_games.parquet"
steam_games= pd.read_parquet(archivo)

steam_games.head(2)

,genres,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,AÃ±o_estreno,publisher,app_name,title,developer
0,Action,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,4.49,['Single-player'],4.99,False,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,Casual,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,4.49,['Single-player'],4.99,False,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro

In [4]:
steam_games.columns

Index(['genres', 'url', 'release_date', 'tags', 'reviews_url',
       'discount_price', 'specs', 'price', 'early_access', 'id', 'metascore',
       'AÃ±o_estreno', 'publisher', 'app_name', 'title', 'developer'],
      dtype='object')

In [3]:
# Seleccionar las columnas
columnas_seleccionadas = steam_games[['title','genres']]

# Copiar las columnas seleccionadas en otra variable
modelado_item = columnas_seleccionadas.copy()

modelado_item

                     title      genres
0      Lost Summoner Kitty      Action
1      Lost Summoner Kitty      Casual
2      Lost Summoner Kitty       Indie
3      Lost Summoner Kitty  Simulation
4      Lost Summoner Kitty    Strategy
...                    ...         ...
71546        Russian Roads       Indie
71547        Russian Roads      Racing
71548        Russian Roads  Simulation
71549  EXIT 2 - Directions      Casual
71550  EXIT 2 - Directions       Indie

[71551 rows x 2 columns]

In [4]:
duplicates = modelado_item[modelado_item.duplicated()]

# Mostrar las filas duplicadas (si las hay)
if not duplicates.empty:
    print("Filas duplicadas encontradas:")
    print(duplicates)
else:
    print("No hay filas duplicadas en el DataFrame.")

Filas duplicadas encontradas:
                                                title      genres
2525                     The Dream Machine: Chapter 4   Adventure
2526                     The Dream Machine: Chapter 4      Casual
2527                     The Dream Machine: Chapter 4       Indie
26429                                         WARZONE       Indie
42872                                       Solitaire      Casual
45670                                          Colony  Simulation
45769                                      Soundtrack       Indie
47199                           Invisible Apartment 2   Adventure
47201                           Invisible Apartment 2       Indie
47202                        Invisible Apartment Zero   Adventure
57600                                        Invasion      Action
57601                                        Invasion       Indie
57794                                      Streamline      Action
57796                                      Streamline       Indie
61344                         Total Extreme Wrestling      Sports
61749                                     Dark Matter      Action
61751                                     Dark Matter       Indie
62707                                 Warhammer Quest         RPG
62708                                 Warhammer Quest    Strategy
63718                                      Soundtrack      Action
64783                          New York Bus Simulator  Simulation
68136  Aliens: Colonial Marines - Reconnaissance Pack      Action
70307                                       Alter Ego   Adventure
71276                               MORE SWEATER? OK!      Casual
71277                               MORE SWEATER? OK!       Indie
71279                               MORE SWEATER? OK!  Simulation

In [5]:
recomendado_usuario = modelado_item.drop_duplicates()

# Verificar nuevamente si hay filas duplicadas despuÃ©s de la eliminaciÃ³n
duplicates_after_removal = recomendado_usuario[recomendado_usuario.duplicated()]

# Mostrar las filas duplicadas (si las hay) despuÃ©s de la eliminaciÃ³n
if not duplicates_after_removal.empty:
    print("Filas duplicadas encontradas despuÃ©s de la eliminaciÃ³n:")
    print(duplicates_after_removal)
else:
    print("No hay filas duplicadas en el DataFrame despuÃ©s de la eliminaciÃ³n.")

No hay filas duplicadas en el DataFrame despuÃ©s de la eliminaciÃ³n.

In [6]:
# Selecciona las primeras 30055 filas del DataFrame
modelado_item = modelado_item.head(30055)

In [7]:
modelado_item

,title,genres
0,Lost Summoner Kitty,Action
1,Lost Summoner Kitty,Casual
2,Lost Summoner Kitty,Indie
3,Lost Summoner Kitty,Simulation
4,Lost Summoner Kitty,Strategy
...,...,...
30050,Christmas Stories: Hans Christian Andersen's T...,Casual
30051,Space Wars: Interstellar Empires,Free to Play
30052,Space Wars: Interstellar Empires,Massively Multiplayer
30053,Space Wars: Interstellar Empires,Strategy
30054,Space Wars: Interstellar Empires,Early Access

In [8]:
modelado_item.to_parquet("dfModelo.parquet", index=False)

In [10]:
modelado_item  = pd.read_parquet("dfModelo.parquet")

modelado_item

,title,genres
0,Lost Summoner Kitty,Action
1,Lost Summoner Kitty,Casual
2,Lost Summoner Kitty,Indie
3,Lost Summoner Kitty,Simulation
4,Lost Summoner Kitty,Strategy
...,...,...
30050,Christmas Stories: Hans Christian Andersen's T...,Casual
30051,Space Wars: Interstellar Empires,Free to Play
30052,Space Wars: Interstellar Empires,Massively Multiplayer
30053,Space Wars: Interstellar Empires,Strategy
30054,Space Wars: Interstellar Empires,Early Access

In [12]:
conteo_vector = CountVectorizer(max_features = 5000, stop_words="english")

In [13]:
conteo_vector.fit_transform(modelado_item["genres"]).toarray().shape

(30055, 32)

In [14]:
vectores = conteo_vector.fit_transform(modelado_item["genres"]).toarray()

In [15]:
vectores

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [37]:
similitud = cosine_similarity(vectores)

In [26]:
steam_games = steam_games.rename(columns={'id': 'item_id'})

steam_games.head(2)

,genres,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,item_id,metascore,AÃ±o_estreno,publisher,app_name,title,developer
0,Action,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,4.49,['Single-player'],4.99,False,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,Casual,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,4.49,['Single-player'],4.99,False,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro

In [27]:


# Suponiendo que ya tienes los DataFrames steam_games y user_items definidos

# Renombrar la columna 'item_name' en user_items a 'title' para que coincida con steam_games
user_items = user_items.rename(columns={'item_name': 'title'})

# Unir los DataFrames por la columna 'item_id'
merged_df = pd.merge(steam_games, user_items, on='item_id', how='inner')

In [28]:
merged_df

,genres,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,item_id,...,app_name,title_x,developer,title_y,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,Action,http://store.steampowered.com/app/282010/Carma...,1997-06-30,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",http://steamcommunity.com/app/282010/reviews/?...,NaN,"['Single-player', 'Multi-player', 'Steam Tradi...",9.99,False,282010,...,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,Carmageddon Max Pack,5,0,76561198053985682,188,UTNerd24,http://steamcommunity.com/id/UTNerd24
1,Action,http://store.steampowered.com/app/282010/Carma...,1997-06-30,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",http://steamcommunity.com/app/282010/reviews/?...,NaN,"['Single-player', 'Multi-player', 'Steam Tradi...",9.99,False,282010,...,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,Carmageddon Max Pack,0,0,76561198067520555,154,I_DID_911_JUST_SAYING,http://steamcommunity.com/id/I_DID_911_JUST_SA...
2,Action,http://store.steampowered.com/app/282010/Carma...,1997-06-30,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",http://steamcommunity.com/app/282010/reviews/?...,NaN,"['Single-player', 'Multi-player', 'Steam Tradi...",9.99,False,282010,...,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,Carmageddon Max Pack,0,0,76561197962104795,79,76561197962104795,http://steamcommunity.com/profiles/76561197962...
3,Action,http://store.steampowered.com/app/282010/Carma...,1997-06-30,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",http://steamcommunity.com/app/282010/reviews/?...,NaN,"['Single-player', 'Multi-player', 'Steam Tradi...",9.99,False,282010,...,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,Carmageddon Max Pack,0,0,76561198011684252,331,r3ap3r78,http://steamcommunity.com/id/r3ap3r78
4,Action,http://store.steampowered.com/app/282010/Carma...,1997-06-30,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",http://steamcommunity.com/app/282010/reviews/?...,NaN,"['Single-player', 'Multi-player', 'Steam Tradi...",9.99,False,282010,...,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,Carmageddon Max Pack,13,0,76561198072532181,583,saint556,http://steamcommunity.com/id/saint556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9877299,Action,http://store.steampowered.com/app/80/CounterSt...,2004-03-01,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",http://steamcommunity.com/app/80/reviews/?brow...,NaN,"['Single-player', 'Multi-player', 'Valve Anti-...",9.99,False,80,...,Counter-Strike: Condition Zero,Counter-Strike: Condition Zero,Valve,Counter-Strike: Condition Zero,0,0,76561198273508956,15,76561198273508956,http://steamcommunity.com/profiles/76561198273...
9877300,Action,http://store.steampowered.com/app/80/CounterSt...,2004-03-01,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",http://steamcommunity.com/app/80/reviews/?brow...,NaN,"['Single-player', 'Multi-player', 'Valve Anti-...",9.99,False,80,...,Counter-Strike: Condition Zero,Counter-Strike: Condition Zero,Valve,Counter-Strike: Condition Zero,0,0,76561198282090798,5,76561198282090798,http://steamcommunity.com/profiles/76561198282...
9877301,Action,http://store.steampowered.com/app/80/CounterSt...,2004-03-01,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",http://steamcommunity.com/app/80/reviews/?brow...,NaN,"['Single-player', 'Multi-player', 'Valve Anti-...",9.99,False,80,...,Counter-Strike: Condition Zero,Counter-Strike: Condition Zero,Valve,Counter-Strike: Condition Zero,0,0,76561198283103833,58,943525,http://steamcommunity.com/id/943525
9877302,Action,http://store.steampowered.com/app/80/CounterSt...,2004-03-01,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",http://steamcommunity.com/app/80/reviews/?brow...,NaN,"['Single-player', 'Multi-player', 'Valve Anti-...",9.99,False,80,...,Counter-Strike: Condition Zero,Counter-Strike: Condition Zero,Valve,Counter-Strike: Condition Zero,9,0,76561198283312749,49,76561198283312749,http://steamcommunity.com/profiles/76561198283...
9877303,Action,http://store.steampowered.com/app/80/CounterSt...,2004-03-01,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",http://steamcommunity.com/app/80/reviews/?brow...,NaN,"['Single-player', 'Multi-player', 'Valve Anti-...",9.99,False,80,...,Counter-Strike: Condition Zero,Counter-Strike: Condition Zero,Valve,Counter-Strike: Condition Zero,99,0,76561198312638244,36,76561198312638244,http://steamcommunity.com/profiles/76561198312...

In [29]:
merged_df.columns

Index(['genres', 'url', 'release_date', 'tags', 'reviews_url',
       'discount_price', 'specs', 'price', 'early_access', 'item_id',
       'metascore', 'AÃ±o_estreno', 'publisher', 'app_name', 'title_x',
       'developer', 'title_y', 'playtime_forever', 'playtime_2weeks',
       'steam_id', 'items_count', 'user_id', 'user_url'],
      dtype='object')

In [30]:


# Suponiendo que los DataFrames se llaman merged_df y user_reviews
# Ajusta los nombres segÃºn tus variables

# Realizar la uniÃ³n sin seleccionar columnas especÃ­ficas
merged_user_data = pd.merge(merged_df, user_reviews, on=['user_id', 'item_id'], how='inner')

# Ahora merged_user_data contiene todas las columnas de ambos DataFrames unidos por user_id e item_id

# Ahora merged_user_data contiene las columnas de ambos DataFrames unidos por user_id e item_id

In [31]:
merged_user_data.columns

Index(['genres', 'url', 'release_date', 'tags', 'reviews_url',
       'discount_price', 'specs', 'price', 'early_access', 'item_id',
       'metascore', 'AÃ±o_estreno', 'publisher', 'app_name', 'title_x',
       'developer', 'title_y', 'playtime_forever', 'playtime_2weeks',
       'steam_id', 'items_count', 'user_id', 'user_url_x', 'user_url_y',
       'funny', 'posted', 'last_edited', 'helpful', 'recommend',
       'sentiment_analisis'],
      dtype='object')

In [115]:
merged_user_data["app_name"]

0                                              Half-Life
1                                              Half-Life
2                                              Half-Life
3                                              Half-Life
4                                              Half-Life
                              ...
33529                                     Counter-Strike
33530                                     Counter-Strike
33531    Unreal Tournament 2004: Editor's Choice Edition
33532    Unreal Tournament 2004: Editor's Choice Edition
33533                     Counter-Strike: Condition Zero
Name: app_name, Length: 33534, dtype: object

In [1]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['genres', 'url', 'release_date', 'tags', 'reviews_url',
                       'discount_price', 'specs', 'price', 'early_access', 'item_id',
                       'metascore', 'publisher', 'app_name', 'title_y',
                       'playtime_forever', 'playtime_2weeks', 'steam_id', 'items_count',
                       'user_id', 'user_url_x', 'user_url_y', 'funny', 'posted',
                       'last_edited', 'helpful']

# Eliminar las columnas
merged_user_data = merged_user_data.drop(columnas_a_eliminar, axis=1)

NameError: name 'merged_user_data' is not defined

In [33]:
merged_user_data.rename(columns={'title_x': 'title'}, inplace=True)

In [34]:
merged_user_data.rename(columns={'user_url_y': 'user_url'}, inplace=True)

In [35]:
merged_user_data.columns

Index(['AÃ±o_estreno', 'title', 'developer', 'recommend', 'sentiment_analisis'], dtype='object')

In [36]:
merged_user_data.dtypes

AÃ±o_estreno           object
title                 object
developer             object
recommend               bool
sentiment_analisis     int64
dtype: object

In [37]:
# Verificar filas duplicadas en el DataFrame merged_user_data
duplicates = merged_user_data[merged_user_data.duplicated()]

# Mostrar las filas duplicadas (si las hay)
if not duplicates.empty:
    print("Filas duplicadas encontradas:")
    print(duplicates)
else:
    print("No hay filas duplicadas en el DataFrame.")

Filas duplicadas encontradas:
      AÃ±o_estreno                  title developer  recommend  \
1            1998              Half-Life     Valve       True
2            1998              Half-Life     Valve       True
4            1998              Half-Life     Valve       True
6            1998              Half-Life     Valve       True
7            1998              Half-Life     Valve       True
...           ...                    ...       ...        ...
33521        1999  Team Fortress Classic     Valve      False
33525        2000         Counter-Strike     Valve       True
33528        2000         Counter-Strike     Valve       True
33529        2000         Counter-Strike     Valve       True
33530        2000         Counter-Strike     Valve       True

       sentiment_analisis
1                       1
2                       1
4                       1
6                       1
7                       2
...                   ...
33521                   1
33525                   2
33528                   2
33529                   2
33530                   1

[31585 rows x 5 columns]

In [38]:
# Eliminar filas duplicadas en el DataFrame merged_user_data
merged_user_data = merged_user_data.drop_duplicates()

# Verificar nuevamente si hay filas duplicadas despuÃ©s de la eliminaciÃ³n
duplicates_after_removal = merged_user_data[merged_user_data.duplicated()]

# Mostrar las filas duplicadas (si las hay) despuÃ©s de la eliminaciÃ³n
if not duplicates_after_removal.empty:
    print("Filas duplicadas encontradas despuÃ©s de la eliminaciÃ³n:")
    print(duplicates_after_removal)
else:
    print("No hay filas duplicadas en el DataFrame despuÃ©s de la eliminaciÃ³n.")

No hay filas duplicadas en el DataFrame despuÃ©s de la eliminaciÃ³n.

In [170]:
# Lista de columnas a eliminar
#columnas_a_eliminar = ['genres', 'price', 'playtime_forever', 'user_id', 'user_url']

# Eliminar las columnas
#merged_user_data = merged_user_data.drop(columnas_a_eliminar, axis=1)

In [39]:
merged_user_data

,AÃ±o_estreno,title,developer,recommend,sentiment_analisis
0,1998,Half-Life,Valve,True,1
3,1998,Half-Life,Valve,True,2
5,1998,Half-Life,Valve,True,0
17,2006,The Ship: Murder Party,Outerlight Ltd.,True,1
20,2006,The Ship: Murder Party,Outerlight Ltd.,True,2
...,...,...,...,...,...
33526,2000,Counter-Strike,Valve,True,0
33527,2000,Counter-Strike,Valve,True,1
33531,2004,Unreal Tournament 2004: Editor's Choice Edition,"Epic Games, Inc.",True,2
33532,2004,Unreal Tournament 2004: Editor's Choice Edition,"Epic Games, Inc.",True,0
33533,2004,Counter-Strike: Condition Zero,Valve,False,0

In [21]:
def UsersWorstDeveloper(dataframe, aÃ±o):
    # Convertir el aÃ±o a string
    aÃ±o = str(aÃ±o)

    # Filtrar por el aÃ±o dado
    df_year = dataframe[dataframe['AÃ±o_estreno'] == aÃ±o]

    # Verificar si hay datos para el aÃ±o dado
    if df_year.empty:
        return f"No hay datos para el aÃ±o {aÃ±o}."

    # Filtrar por recomendaciones positivas y comentarios positivos/neutrales
    df_recommendations = df_year[(df_year['recommend'] == True) & (df_year['sentiment_analisis'] >= 1)]

    # Verificar si hay juegos recomendados para el aÃ±o dado
    if df_recommendations.empty:
        return f"No hay juegos recomendados para el aÃ±o {aÃ±o}."

    # Agrupar por el tÃ­tulo del juego y sumar el 'sentiment_analisis'
    grouped_games = df_recommendations.groupby('title')['sentiment_analisis'].sum()

    # Obtener el top 3 de juegos mÃ¡s recomendados
    top_3_games = grouped_games.nlargest(3)

    # Crear la lista de salida en el formato deseado
    output_list = []
    for i in range(min(3, len(top_3_games))):
        output_list.append({"Puesto {}".format(i+1): top_3_games.index[i]})

    return output_list

In [22]:
aÃ±o_deseado = 2000  # Reemplazar con el aÃ±o que estÃ¡s buscando
resultado = UsersWorstDeveloper(merged_user_data, aÃ±o_deseado)
print(resultado)

[{'Puesto 1': 'Counter-Strike'}, {'Puesto 2': 'Deus Ex: Game of the Year Edition'}]

In [55]:
def UsersWorstDeveloper(dataframe, aÃ±o):
    # Convertir el aÃ±o a string
    aÃ±o = str(aÃ±o)

    # Filtrar por el aÃ±o dado
    df_year = dataframe[dataframe['AÃ±o_estreno'] == aÃ±o]

    # Verificar si hay datos para el aÃ±o dado
    if df_year.empty:
        return f"No hay datos para el aÃ±o {aÃ±o}."

    # Filtrar por recomendaciones negativas y comentarios negativos/neutrales
    df_recommendations = df_year[(df_year['recommend'] == False) & (df_year['sentiment_analisis'] <= 1)]

    # Verificar si hay juegos no recomendados para el aÃ±o dado
    if df_recommendations.empty:
        return f"No hay juegos no recomendados para el aÃ±o {aÃ±o}."

    # Agrupar por el desarrollador del juego y sumar el 'sentiment_analisis'
    grouped_developers = df_recommendations.groupby('developer')['sentiment_analisis'].sum()

    # Obtener el top 3 de desarrolladores con juegos menos recomendados
    worst_3_developers = grouped_developers.nsmallest(3)

    # Crear la lista de salida en el formato deseado
    output_list = []
    for i in range(min(3, len(worst_3_developers))):
        output_list.append({"Puesto {}".format(i+1): worst_3_developers.index[i]})

    return output_list

In [63]:
aÃ±o_deseado = 2003  # Reemplazar con el aÃ±o que estÃ¡s buscando
resultado = UsersWorstDeveloper(merged_user_data, aÃ±o_deseado)
print(resultado)

Advertencia: Solo se encontraron 2 juegos menos recomendados para el aÃ±o 2003.
[{'Puesto 1': 'Starbreeze'}, {'Puesto 2': 'Running With Scissors'}]

In [61]:
def UsersWorstDeveloper(dataframe, aÃ±o):
    # Convertir el aÃ±o a string
    aÃ±o = str(aÃ±o)

    # Filtrar por el aÃ±o dado
    df_year = dataframe[dataframe['AÃ±o_estreno'] == aÃ±o]

    # Verificar si hay datos para el aÃ±o dado
    if df_year.empty:
        return f"No hay datos para el aÃ±o {aÃ±o}."

    # Filtrar por recomendaciones negativas y comentarios negativos/neutrales
    df_recommendations = df_year[(df_year['recommend'] == False) & (df_year['sentiment_analisis'] <= 1)]

    # Verificar si hay juegos no recomendados para el aÃ±o dado
    if df_recommendations.empty:
        return f"No hay juegos no recomendados para el aÃ±o {aÃ±o}."

    # Agrupar por el desarrollador del juego y sumar el 'sentiment_analisis'
    grouped_developers = df_recommendations.groupby('developer')['sentiment_analisis'].sum()

    # Obtener el top 3 de desarrolladores con juegos menos recomendados
    worst_3_developers = grouped_developers.nsmallest(3)

    # Crear la lista de salida en el formato deseado
    output_list = []
    for i in range(len(worst_3_developers)):
        output_list.append({"Puesto {}".format(i+1): worst_3_developers.index[i]})

    # Imprimir un mensaje de aviso si hay menos de 3 juegos en la salida
    if len(worst_3_developers) < 3:
        print("Advertencia: Solo se encontraron {} juegos menos recomendados para el aÃ±o {}.".format(len(worst_3_developers), aÃ±o))

    return output_list

In [53]:
merged_user_data.dtypes

AÃ±o_estreno           object
title                 object
developer             object
recommend               bool
sentiment_analisis     int64
dtype: object

In [54]:
valores_unicos = merged_user_data['sentiment_analisis'].unique()
print(valores_unicos)

[1 2 0]

In [93]:
user_reviews.dtypes

user_id               object
user_url              object
funny                 object
posted                object
last_edited           object
item_id                int64
helpful               object
recommend               bool
sentiment_analisis     int64
dtype: object

In [94]:
#calculo cantidad de recomendaciones del dataframe
r=len(user_reviews["recommend"])
r

59161

In [95]:
#calculo cantidad de usuarios
total=len(user_reviews["user_id"].unique())
total

25467

In [96]:
user_items.dtypes

item_id              int64
item_name           object
playtime_forever     int64
playtime_2weeks      int64
steam_id             int64
items_count          int64
user_id             object
user_url            object
dtype: object

In [97]:
#Utilizo las columnas "user_id","item_id","items_count" del dataframe user_items para luego utilizarlas en las funciones
cant_items= user_items[["user_id","item_id","items_count"]]
cant_items

                   user_id  item_id  items_count
0        76561197970982479       10          277
1        76561197970982479       20          277
2        76561197970982479       30          277
3        76561197970982479       40          277
4        76561197970982479       50          277
...                    ...      ...          ...
5094100  76561198329548331   346330            7
5094101  76561198329548331   373330            7
5094102  76561198329548331   388490            7
5094103  76561198329548331   521570            7
5094104  76561198329548331   519140            7

[5094105 rows x 3 columns]

In [98]:
#Utilizo la columna "recommend" y su "user_id" del dataframe user_reviews
recommend= user_reviews[["user_id", "recommend"]]
recommend

                    user_id  recommend
0         76561197970982479       True
1         76561197970982479       True
2         76561197970982479       True
3                   js41637       True
4                   js41637       True
...                     ...        ...
59156  Fuckfhaisjnsnsjakaka       True
59157            3214213216       True
59158          ChrisCoroner       True
59159      CaptainAmericaCw       True
59160     76561198267374962       True

[59161 rows x 2 columns]

In [99]:
steam_games["price"].isnull().sum()

0

In [100]:
# Y utilizo la columna "price" del dataframe steam_games , luego cambio el nombre de id por "item_id" a fin de poder realizar
# el merge
cant_dinero = steam_games[["price", "id"]] 
cant_dinero = cant_dinero.drop_duplicates("id",keep="first")
cant_dinero = cant_dinero.rename(columns={"id":"item_id"})
cant_dinero

       price  item_id
0       4.99   761140
5       0.00   643980
9       0.00   670290
14      0.99   767400
17      3.99   772540
...      ...      ...
71535   1.99   745400
71539   1.99   773640
71543   4.99   733530
71546   1.99   610660
71549   4.99   658870

[28850 rows x 2 columns]

In [101]:
cant_items= cant_items.merge(cant_dinero, on="item_id", how="left")
cant_items

                   user_id  item_id  items_count  price
0        76561197970982479       10          277   9.99
1        76561197970982479       20          277   4.99
2        76561197970982479       30          277   4.99
3        76561197970982479       40          277   4.99
4        76561197970982479       50          277   4.99
...                    ...      ...          ...    ...
5094100  76561198329548331   346330            7   0.00
5094101  76561198329548331   373330            7    NaN
5094102  76561198329548331   388490            7   0.00
5094103  76561198329548331   521570            7   0.00
5094104  76561198329548331   519140            7    NaN

[5094105 rows x 4 columns]

In [102]:
cant_items ["price"].isnull().sum()

937657

In [103]:
# se define una funciÃ³n para poder reemplazar los datos string de la columna "price" por flotantes 0.0

def cambio_a_float(valor):

    if pd.isna(valor): #esta parte de la funciÃ³n es para el caso de que no exista ningun string o float en el campo
        return 0.0
    try:
        flotante = float(valor) #si el valor es float lo conservo
        return flotante
    except (ValueError, TypeError): #si el valor es diferente retorno 0.0
        return 0.0
    
#Aplico esta funciÃ³n a la columna precio
cant_items["price"] = cant_items["price"].apply(cambio_a_float)

In [104]:
cant_items ["price"].isnull().sum()

0

In [106]:
#La siguiente funciÃ³n retorna informaciÃ³n sobre el usuario que se le pasa como argumento
"""
Parametro: 
        user_id(str) : ID del Usuario a consultar.
Retorna:
        user (dict): InformaciÃ³n de un usuario ,
        -cantidad de dinero gastado (int): Dinero gastado por usuario
        -Porcentaje de recomendaciÃ³n usuario (float): Reviews realizadas por el usuario con respecto a la cantidad de 
        reviews poe usuario
        -cantidad de items (int):cantidad de juegos consumidos por usuario 
"""
def userdata(user_id):
    #igualo el user_id al user_id del dataframe con los datos de los reviews 
    user= user_reviews[user_reviews["user_id"]== user_id]
    #sumo la columna price del dataframe cant_items par conocer el gasto por usuario
    gasto = cant_items[cant_items["user_id"]== user_id]["price"].sum()
    
    #cantidad de recomendaciones del usuario ingresado
    rec_user= recommend[recommend["user_id"]== user_id]["recommend"].sum()
    #cantidad de recomendaciones totales por usuario
    total_rec= len(user_reviews["user_id"].unique())
    porcentaje=(rec_user/total_rec)*100
    
    #cuento la cantidad de jueagos que utilizo el usuario 
    count= cant_items[cant_items["user_id"]== user_id]["items_count"].iloc[0]
    return{
        "Cantidad de dinero gastado": int (gasto),
        "Porcentaje de recomendaciÃ³n usuario": round(float(porcentaje), 3),
        "Cantidad de items": int(count)
    }

In [107]:
user_id= "EchoXSilence"
userdata(user_id)

{'Cantidad de dinero gastado': 189,
 'Porcentaje de recomendaciÃ³n usuario': 0.004,
 'Cantidad de items': 23}

In [108]:
#Se extraen columnas del dataframe "steam_games" 
anio_estreno=steam_games[["id","AÃ±o_estreno"]]
#Se renombran las columnas necesarias
anio_estreno= anio_estreno.rename(columns={"id":"item_id", "AÃ±o_estreno":"release_anio"})
anio_estreno

       item_id release_anio
0       761140         2018
1       761140         2018
2       761140         2018
3       761140         2018
4       761140         2018
...        ...          ...
71546   610660         2018
71547   610660         2018
71548   610660         2018
71549   658870         2017
71550   658870         2017

[71551 rows x 2 columns]

In [109]:
#se eliminan duplicados para realizar el merge 
anio_estreno= anio_estreno.drop_duplicates()
anio_estreno

       item_id release_anio
0       761140         2018
5       643980         2018
9       670290         2017
14      767400         2017
17      772540         2018
...        ...          ...
71535   745400         2018
71539   773640         2018
71543   733530         2018
71546   610660         2018
71549   658870         2017

[28850 rows x 2 columns]

In [110]:
anio_estreno ["release_anio"]= anio_estreno["release_anio"].astype (int, errors="ignore")
anio_estreno.dtypes

C:\Users\JAGER\AppData\Local\Temp\ipykernel_7776\5810914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anio_estreno ["release_anio"]= anio_estreno["release_anio"].astype (int, errors="ignore")

item_id          int64
release_anio    object
dtype: object

In [111]:
anio_estreno

       item_id release_anio
0       761140         2018
5       643980         2018
9       670290         2017
14      767400         2017
17      772540         2018
...        ...          ...
71535   745400         2018
71539   773640         2018
71543   733530         2018
71546   610660         2018
71549   658870         2017

[28850 rows x 2 columns]

In [112]:
#se le anexa el aÃ±o de estreno al dataframe "user_reviews"
sentimiento_analysis=user_reviews.merge(anio_estreno, on="item_id")
sentimiento_analysis

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,sentiment_analisis,release_anio
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,2011-11-05,None,1250,No ratings yet,True,2,2009
1,death-hunter,http://steamcommunity.com/id/death-hunter,None,2015-03-30,None,1250,No ratings yet,True,2,2009
2,DJKamBer,http://steamcommunity.com/id/DJKamBer,None,2013-07-12,None,1250,No ratings yet,True,2,2009
3,diego9031,http://steamcommunity.com/id/diego9031,None,2015-08-13,None,1250,No ratings yet,True,1,2009
4,76561198081962345,http://steamcommunity.com/profiles/76561198081...,None,2014-04-05,None,1250,No ratings yet,True,1,2009
...,...,...,...,...,...,...,...,...,...,...
50325,NikitaOsworth1991,http://steamcommunity.com/id/NikitaOsworth1991,None,2015-10-29,None,307130,1 of 5 people (20%) found this review helpful,True,1,2014
50326,pigeonie,http://steamcommunity.com/id/pigeonie,None,None,None,209120,3 of 6 people (50%) found this review helpful,True,1,2012
50327,wayfeng,http://steamcommunity.com/id/wayfeng,1 person found this review funny,None,Last edited August 13.,220090,3 of 6 people (50%) found this review helpful,True,0,2013
50328,wayfeng,http://steamcommunity.com/id/wayfeng,None,None,None,262850,0 of 1 people (0%) found this review helpful,True,0,2014
50329,76561198254993106,http://steamcommunity.com/profiles/76561198254...,None,None,None,431510,8 of 9 people (89%) found this review helpful,True,2,2016

In [113]:
def sentiment_analysis(anio):
    #Se filtran las reviews por aÃ±o y las igualo al aÃ±o que se ingresa en la consulta transformandolo en string 
    reviews_por_anio= sentimiento_analysis[sentimiento_analysis["release_anio"]== str(anio)]
    
    #Se inicia una lista vacia por cada sentimiento para ir contandolos 
    Negativos = 0
    Neutral = 0
    Positivos = 0
    
    #Se itera sobre las filas de reviews_por_anio y se distibuyen los datos segun la columna "sentiment_analysis"
    for i in reviews_por_anio["sentiment_analisis"]:
        if i == 0:
            Negativos += 1
        elif i == 1:
            Neutral += 1 
        elif i == 2:
            Positivos += 1

    count_sentiment ={"Negative": Negativos , "Neutral" : Neutral, "Positive": Positivos}
    
    return count_sentiment

In [114]:
anio = 2015
sentiment_analysis(anio)

{'Negative': 989, 'Neutral': 2873, 'Positive': 2748}

In [117]:
df = steam_games

In [119]:
df = df.drop(["tags", "specs", "url", "reviews_url", "early_access","genres"], axis=1)
df

,release_date,discount_price,price,id,metascore,AÃ±o_estreno,publisher,app_name,title,developer
0,2018-01-04,4.49,4.99,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,2018-01-04,4.49,4.99,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
2,2018-01-04,4.49,4.99,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
3,2018-01-04,4.49,4.99,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
4,2018-01-04,4.49,4.99,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
...,...,...,...,...,...,...,...,...,...,...
71546,2018-01-04,1.39,1.99,610660,NaN,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71547,2018-01-04,1.39,1.99,610660,NaN,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71548,2018-01-04,1.39,1.99,610660,NaN,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71549,2017-09-02,NaN,4.99,658870,NaN,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"
71550,2017-09-02,NaN,4.99,658870,NaN,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"

In [120]:
df['title']

0        Lost Summoner Kitty
1        Lost Summoner Kitty
2        Lost Summoner Kitty
3        Lost Summoner Kitty
4        Lost Summoner Kitty
                ...
71546          Russian Roads
71547          Russian Roads
71548          Russian Roads
71549    EXIT 2 - Directions
71550    EXIT 2 - Directions
Name: title, Length: 71551, dtype: object

In [121]:
# Se genera un punto de restauraciÃ³n 
df_gamesT = df

In [122]:
df_items = user_items

In [123]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094105 entries, 0 to 5094104
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int64
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
 4   steam_id          int64
 5   items_count       int64
 6   user_id           object
 7   user_url          object
dtypes: int64(5), object(3)
memory usage: 310.9+ MB

In [124]:
df_items = df_items.drop(["playtime_2weeks","item_name"], axis=1)

In [125]:
# Se unen los dataframes Games y Items
dfG = pd.merge(df_gamesT,df_items, left_on="id", right_on="item_id")

In [126]:
dfG.head()

,release_date,discount_price,price,id,metascore,AÃ±o_estreno,publisher,app_name,title,developer,item_id,playtime_forever,steam_id,items_count,user_id,user_url
0,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,5,76561198053985682,188,UTNerd24,http://steamcommunity.com/id/UTNerd24
1,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,0,76561198067520555,154,I_DID_911_JUST_SAYING,http://steamcommunity.com/id/I_DID_911_JUST_SA...
2,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,0,76561197962104795,79,76561197962104795,http://steamcommunity.com/profiles/76561197962...
3,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,0,76561198011684252,331,r3ap3r78,http://steamcommunity.com/id/r3ap3r78
4,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,13,76561198072532181,583,saint556,http://steamcommunity.com/id/saint556

In [127]:
# Se guarda como parquet el unido para mayor eficiencia
dfG.to_parquet("GameItem.parquet")

In [128]:
df_rev = user_reviews

In [129]:
# Se guarda una copia antes de quitar las columnas
dfGTotal = dfG
dfG.head()

,release_date,discount_price,price,id,metascore,AÃ±o_estreno,publisher,app_name,title,developer,item_id,playtime_forever,steam_id,items_count,user_id,user_url
0,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,5,76561198053985682,188,UTNerd24,http://steamcommunity.com/id/UTNerd24
1,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,0,76561198067520555,154,I_DID_911_JUST_SAYING,http://steamcommunity.com/id/I_DID_911_JUST_SA...
2,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,0,76561197962104795,79,76561197962104795,http://steamcommunity.com/profiles/76561197962...
3,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,0,76561198011684252,331,r3ap3r78,http://steamcommunity.com/id/r3ap3r78
4,1997-06-30,NaN,9.99,282010,NaN,1997,Stainless Games Ltd,Carmageddon Max Pack,Carmageddon Max Pack,Stainless Games Ltd,282010,13,76561198072532181,583,saint556,http://steamcommunity.com/id/saint556

In [131]:
# Asumiendo que ya tienes el DataFrame dfG definido
columnas_a_eliminar = ["publisher", "app_name", "title", "id", "developer", "item_id", "playtime_forever"]

dfUserData = dfG.drop(columnas_a_eliminar, axis=1)

In [132]:
dfUserData.head()

,release_date,discount_price,price,metascore,AÃ±o_estreno,steam_id,items_count,user_id,user_url
0,1997-06-30,NaN,9.99,NaN,1997,76561198053985682,188,UTNerd24,http://steamcommunity.com/id/UTNerd24
1,1997-06-30,NaN,9.99,NaN,1997,76561198067520555,154,I_DID_911_JUST_SAYING,http://steamcommunity.com/id/I_DID_911_JUST_SA...
2,1997-06-30,NaN,9.99,NaN,1997,76561197962104795,79,76561197962104795,http://steamcommunity.com/profiles/76561197962...
3,1997-06-30,NaN,9.99,NaN,1997,76561198011684252,331,r3ap3r78,http://steamcommunity.com/id/r3ap3r78
4,1997-06-30,NaN,9.99,NaN,1997,76561198072532181,583,saint556,http://steamcommunity.com/id/saint556

In [133]:
dinero_usuario = dfG.groupby('user_id')['price'].sum().reset_index()
dinero_usuario.head()

             user_id    price
0            --000--  1566.35
1            --ace--   363.57
2          --ionex--   169.86
3       -2SV-vuLB-Kg   942.80
4  -404PageNotFound-  3484.47

In [134]:
#Ya que tengo un dataframe que contiene la cantidad de items requiero formar una unica fila con usuarios unicos
filas_unicas = dfUserData.drop_duplicates(subset=['user_id'])
# Se quita price que ahora no nos sirve 
filas_unicas=filas_unicas.drop(["price"], axis=1)
filas_unicas.head()

,release_date,discount_price,metascore,AÃ±o_estreno,steam_id,items_count,user_id,user_url
0,1997-06-30,NaN,NaN,1997,76561198053985682,188,UTNerd24,http://steamcommunity.com/id/UTNerd24
1,1997-06-30,NaN,NaN,1997,76561198067520555,154,I_DID_911_JUST_SAYING,http://steamcommunity.com/id/I_DID_911_JUST_SA...
2,1997-06-30,NaN,NaN,1997,76561197962104795,79,76561197962104795,http://steamcommunity.com/profiles/76561197962...
3,1997-06-30,NaN,NaN,1997,76561198011684252,331,r3ap3r78,http://steamcommunity.com/id/r3ap3r78
4,1997-06-30,NaN,NaN,1997,76561198072532181,583,saint556,http://steamcommunity.com/id/saint556

In [135]:
# Se pueden unir las dos tablas para dejar una sola 
dfUSERData = pd.merge(dinero_usuario,filas_unicas, on="user_id")
dfUSERData

,user_id,price,release_date,discount_price,metascore,AÃ±o_estreno,steam_id,items_count,user_url
0,--000--,1566.35,2006-11-29,NaN,NaN,2006,76561198084750369,58,http://steamcommunity.com/id/--000--
1,--ace--,363.57,2006-11-29,NaN,NaN,2006,76561198113770873,44,http://steamcommunity.com/id/--ace--
2,--ionex--,169.86,2009-11-12,NaN,86.0,2009,76561198101468258,23,http://steamcommunity.com/id/--ionex--
3,-2SV-vuLB-Kg,942.80,2010-06-01,NaN,NaN,2010,76561197999208914,68,http://steamcommunity.com/id/-2SV-vuLB-Kg
4,-404PageNotFound-,3484.47,2006-07-11,NaN,76.0,2006,76561198074247623,149,http://steamcommunity.com/id/-404PageNotFound-
...,...,...,...,...,...,...,...,...,...
68670,zzonci,59.94,2006-07-11,NaN,76.0,2006,76561198075336050,5,http://steamcommunity.com/id/zzonci
68671,zzoptimuszz,369.92,2009-09-01,NaN,72.0,2009,76561198091593138,61,http://steamcommunity.com/id/zzoptimuszz
68672,zzydrax,209.88,2006-11-29,NaN,NaN,2006,76561198051370195,13,http://steamcommunity.com/id/zzydrax
68673,zzyfo,1417.12,2006-11-29,NaN,NaN,2006,76561198061837471,84,http://steamcommunity.com/id/zzyfo
68674,zzzmidmiss,739.41,2009-01-28,NaN,72.0,2009,76561198050227599,69,http://steamcommunity.com/id/zzzmidmiss